language: python
python:
    - "2.7"
sudo: required
dist: trusty
cache:
    directories:
        - "~/.platformio"
env:
    - PLATFORMIO_CI_SRC=examples/DDC-SE-01-Serial/DDC-SE-01-Serial/DDC-SE-01-Serial.ino
    - PLATFORMIO_CI_SRC=examples/DDC-SE-01-LCD-I2C/DDC-SE-01-LCD-I2C/DDC-SE-01-LCD-I2C.ino
    - PLATFORMIO_CI_SRC=examples/DDC-SE-01-W5100-Thingspeak/DDC-SE-01-W5100-Thingspeak/DDC-SE-01-W5100-Thingspeak.ino
install:
    # - pip install -U platformio
    # Install development version of PlatformIO 3.0 (remove line below after release)
    - pip install -U https://github.com/platformio/platformio/archive/develop.zip
    
    - platformio lib install LiquidCrystal_I2C
script:
    - platformio ci --lib="." --project-conf platformio.ini
