language: python
python:
    - "2.7"
sudo: required
dist: trusty
cache:
    directories:
        - "~/.platformio"
env:
    - PLATFORMIO_CI_SRC=examples/DDC-SE-01/DDC-SE-01/DDC-SE-01.ino
install:
    # Install PlatformIO
    - pip install -U platformio
script:
    - platformio ci --lib="." --board=uno --board=due --board=leonardo --board=nanoatmega328 --board=diecimilaatmega168 --board=megaatmega2560 --board=megaatmega1280 --board=chipkit_uc32 --board=nodemcuv2
